
.features {

  width: 100%;
  overflow: hidden;
  text-align: center;
  background-color: rgb(244, 244, 244);

  .container {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1200px;
    height: 720px;
    text-align: center;
    display: grid;
    grid-column-gap: 50px;
    align-content: center;
    grid-template-areas: 
    'features title'
    'features image';
  }

  &-list{
    height: 542px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: features;
    margin-top: 20px;
  }

  &-item {
    width: 100%;
    text-align: left;
    margin: 0 10px 34px 0;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #848e97;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;

    
    &__icon-block{
      display: inline-block;
      width: 120px;
      height: 90px;
      text-align: center;
      margin-right: 23px;
    }

    &__about-block{
      display: inline-block;
      max-width: 365px;
    }

    &__title{
      margin: 0 0 10px 0;
      color: #323232;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 400;
      line-height: 21px;
      text-align: left;

    }

    &__desc{
      margin: 0;
      color: #848e97;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
    }
  }  
    
  &__img-block {
    grid-area: image;
    max-width: 977px;

    img {
      width: 100%;
      height: auto;
    }

  }    
}

.section-title-two {
  max-width: 977px;
  grid-area: title;

  &__heading {
    font-family: 'Montserrat', sans-serif;
    color: #8d81ac;
    font-size: 48px;
    font-weight: 700;
    vertical-align: top;
    margin: 0;
  }

}