.section-carousel{

    .container {
        margin: 0 auto;
        padding: 0 10px;
        max-width: 1200px;
        text-align: center;
    }

    .carousel{
        width: 740px;
        height: 370px;
        margin: 0 auto;
    }

}

