.header {
  height: 89.8vh;
  background-image: url("/img/bg-img-header-jpg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.header-items {
  display: flex;
  //justify-content: center;
  flex-direction: column;
  align-items: center;
}

.header-title {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Montserrat, sans-serif;
  color: #ffffff;
  font-size: 82px; /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 15px; /* Приближение из-за подстановки шрифтов */
  //text-align: center;
  margin-bottom: 3rem;
}

.header-sub-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lato, sans-serif;
  color: #8d81ac;
  font-size: 30px; /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 15px; /* Приближение из-за подстановки шрифтов */
  text-align: center;
  margin-bottom: 2rem;
}

.header-under-sub-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  color: #848e97;
  font-size: 16px; /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 15px; /* Приближение из-за подстановки шрифтов */
  text-align: center;
}

.sub-header {
  display: flex;
  justify-content: center;
  //padding-top: 10px;
  //position: relative;
  //transform: scaleY(-50%);
}

.sub-header-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 390px;
  //color: #8d81ac;
  height: 62px;
  background-color: #8e82ad;
  border-radius: 30px;
  //position: relative;
  //transform: scaleY(-50px);
  transform: translateY(-50%);
  &:hover {
    background-color: white;
    color: rgb(142, 130, 173);
  }

  //&:hover {
  //  background-color: #fff;
  //  color: #8d81ac;
  //}
}

//.sub-header-btn:hover {
//  color: #8d81ac;
//background-color: white;
//}

.sub-header-btn-text {
  display: flex;
  justify-content: center;
  font-family: Montserrat, sans-serif;
  color: white;
  font-size: 21.01px; /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 15px; /* Приближение из-за подстановки шрифтов */
  text-align: center;
  //&:hover {
  //  color: #8d81ac;
  //}

}

.sub-header-under-btn-text {
  display: flex;
  //justify-content: center;
  //align-items: center;
  flex-direction: column;
  font-family: Montserrat, sans-serif;
  color: #848e97;
  font-size: 16px; /* Приближение из-за подстановки шрифтов */
  //font-weight: 400;
  //line-height: 15px; /* Приближение из-за подстановки шрифтов */
  text-align: center;
  //margin-top: 1rem;
}

