@media screen and (max-width: 768px) {
  .nav-bar-item {
    margin: 12px;
  }

  .header {
    height: 50vh;
  }

  .header-title {
    font-family: Montserrat, sans-serif;
    color: #ffffff;
    font-size: 72px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 15px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
  }

  .header-sub-title {
    margin: 2rem;
    font-family: Lato, sans-serif;
    color: #8d81ac;
    font-size: 24px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 15px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
  }

  .header-under-sub-title {
    font-family: Montserrat, sans-serif;
    color: #848e97;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 15px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
  }

  .sub-header-just-text {
    font-size: 16px;
  }
}

@media screen and (max-width: 481px) {
  .dropdown-menu {
    width: 100%;
    background-color: #303030;
  }

  .dropdown-menu-item {
    font-family: Montserrat, sans-serif;
    color: #ffffff;
    font-size: 32.01px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 77.765px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    &:hover {
      color: $purple-color;
    }
  }

  .burger {
    margin-left: 2rem;
    transform-origin: center;
  }

  .bar1 {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.3s;
    transform-origin: center;
  }

  .bar2, .bar3 {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.3s;
    transform-origin: center;
  }

  .change .bar1 {
    -webkit-transform: rotate(-50deg) translate(-5px, 6px);
    transform: rotate(-50deg) translate(-5px, 6px);
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }

  .burger {
    cursor: pointer;
  }

  .nav-bar-title {
    margin-left: 1rem;
  }

  .header-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 50px;
    margin-top: 2rem;
  }

  .header {
    height: 50vh;
    background-image: url("/img/bg-img-header-jpg.jpg");
    //background-size: 100% contain;
    background-position: center;
    background-attachment: fixed;
  }

  .header-sub-title {
    line-height: 30px;
  }

  .header-under-sub-title {
    line-height: 2px;
  }

  .nav-bar-item {
    visibility: hidden;
    clear: both;
    display: none;
  }

  .nav-bar-item-btn {
    display: flex;
    justify-content: center;

  }

  .hamburger {
    display: flex;
    justify-content: space-between;
    width: 30px;
    height: 30px;
    background-color: white;
  }

  .revol-title {
    font-family: Montserrat, sans-serif;
    color: #635c73;
    font-size: 42px;
    font-weight: 700;
    line-height: 35.214px;
    text-align: center;
  }

  .revol-sub-title {
    margin-bottom: 1rem;
    font-family: Lato, sans-serif;
    color: #323232;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.074px;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem
  }

  .github-button {
    display: flex;
    justify-content: left;
  }
}

@media screen and (max-width: 320px) {

  .dropdown-menu {
    width: 100%;
    background-color: #303030;
  }

  .dropdown-menu-item {
    font-family: Montserrat, sans-serif;
    color: #ffffff;
    font-size: 25px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 77.765px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    &:hover {
      color: $purple-color;
    }
  }

  .bar1 {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: 0.3s;
    transform-origin: center;
  }

  .bar2, .bar3 {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: .3s;
    transform-origin: center;
  }

  .change .bar1 {
    -webkit-transform: rotate(-50deg) translate(-5px, 6px);
    transform: rotate(-50deg) translate(-5px, 6px);
    transform-origin: center;
  }

  .change .bar2 {
    opacity: 0;
    transform-origin: center;
  }

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
    transform-origin: center;
  }

  .cursor {
    cursor: pointer;
  }

  .nav-bar-title {
    margin-left: 1rem;
  }

  .header-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 50px;
    margin-top: 2rem;
  }

  .header {
    height: 50vh;
    background-image: url("/img/bg-img-header-jpg.jpg");
    //background-size: 100% contain;
    background-position: center;
    background-attachment: fixed;
  }

  .header-sub-title {
    line-height: 30px;
  }

  .header-under-sub-title {
    line-height: 2px;
  }

  .nav-bar-title-text, .nav-bar-item {
    visibility: hidden;
    clear: both;
    display: none;
  }

  .nav-bar-item-btn {
    display: flex;
    justify-content: center;

  }

  .revol-title {
    font-family: Montserrat, sans-serif;
    color: #635c74;
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
  }

  .revol-sub-title {
    margin-bottom: 1rem;
    font-family: Lato, sans-serif;
    color: #323232;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .github-button {
    display: flex;
    justify-content: left;
  }
}

