.header {
  height: 90vh;
  background-image: url("/img/bg-img-header.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header-items {
  display: flex;
  //justify-content: center;
  flex-direction: column;
  align-items: center;
}

.header-title {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Montserrat, sans-serif;
  color: #ffffff;
  font-size: 82px; /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 15px; /* Приближение из-за подстановки шрифтов */
  //text-align: center;
  margin-bottom: 3rem;
}

.header-sub-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lato, sans-serif;
  color: #8d81ac;
  font-size: 30px; /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 15px; /* Приближение из-за подстановки шрифтов */
  text-align: center;
  margin-bottom: 2rem;
}

.header-under-sub-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  color: #848e97;
  font-size: 16px; /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 15px; /* Приближение из-за подстановки шрифтов */
  text-align: center;
}